<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/main.css">
    <title></title>
  </head>
  <body>
    <div class="container">
      <header>
        <p>Bananpaj</p>
      </header>
      <nav>
        <a href="#" <p>Hem</p></a><a href="box.html"<p>Box</p></a><a href="bananpaj.html"<p>Bilder</p></a><a href="#"<p>Sol</p></a>
      </nav>
      <main>
        <p>main</p>
      </main>
      <footer>
        <p>footer</p>
      </footer>
    </div>
  </body>
  <aside>
    <h1>Aside</h1>
  </aside>
</html>
